<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Pokenatra</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
	<ul>
		<li><a href="/"><img src="/logo.png" width="19px" height="19px"></a></li>
		<li><a href="/pokemons">Pokemons</a></li>
		<li><a href="#">Trainers</a></li>
	</ul>
</nav>
<%= yield %>
</body>
</html>